EXPO_PUBLIC_AMAP_ANDROID_KEY=your-amap-android-key
EXPO_PUBLIC_AMAP_IOS_KEY=your-amap-ios-key

EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:3000
EXPO_PUBLIC_APP_UPGRADE_URL=https://example.com/download-app
EXPO_PUBLIC_UPDATES_FALLBACK_URL=https://example.com/api/updates
